<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /folder_name/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /folder_name/index.html [L]
</IfModule>
